# -*- mode: shell-script; -*-
#
# Environment variables used to access OCI
#
# Copyright (C) 2023 Simon Dobson
#
# This file is part of cloud-epydemic, network simulation as a service
#
# cloud-epydemic is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# cloud-epydemic is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with cloud-epydemic. If not, see <http://www.gnu.org/licenses/gpl.html>.

# This file contains shell/terraform variables for configuring
# OCI. Copy this file to credentials.tfvars and fill in the
# necessary values before pushing container images or deploying.

# OCI tenancy details
OCI_TENANCY=""
OCI_REGION=""
OCI_TENANCY_OCID=""
OCI_TENANCY_NAMESPACE=""
OCI_OBJECT_STORAGE_NAMESPACE=""

# OCI user
OCI_USER_EMAIL=""
OCI_USER_OCID=""
OCI_PASSWORD=""
OCI_KEY_FINGERPRINT=""
OCI_PRIVATE_KEY_PATH=""

# Container repo
OCI_REPO=""
